.packages{
    margin-top: 5.6rem;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    text-align: center;
    width: 100%;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pack{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 25px;
}
.area{
    border: 1px solid #000;
    width: calc(33.33% - 40px);
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.area img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.desc{
    padding: 10px;
    text-align: left;
}
.desc h2 {
    margin-top: 10px;
    font-size: 18px;
}

.desc p {
    margin: 10px 0;
}
.desc p:first-child {
    margin-top: 0;
}

.desc p:last-child {
    margin-bottom: 10px;
}


@media (max-width:640px){
    .packages{
        margin-top: 3.78rem;
        width: 100%;
    }
    .area{
        width: 100%;
    }
}
