footer{
    /* position: relative; */
    width: 100%;
    bottom: 0;
    padding: 20px;
    display: block;
    height: auto;
    background: #000;
}
.links{
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
.contact-us{
    display: block;
    line-height: 28px;
}
.contact-us h2{
    font-size: 20px;
    color: orange;
    font-weight: 600;
    margin-bottom: 5px;
}
.contact-us li a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
.contact-us li a:hover{
    color: orange;
    transform: translateX(-7px);
    text-decoration: underline;
}
.other-links{
    display: block;
    line-height: 28px;
}
.other-links h2{
    font-size: 20px;
    color: orange;
    font-weight: 600;
    margin-bottom: 5px;
}
.other-links a{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
.other-links a:hover{
    color: orange;
    transform: translateX(-7px);
    text-decoration: underline;
}
.socials{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.socials li{
    list-style: none;
    
}
.socials i{
    color: #fff;
    font-size: 25px;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.socials i:hover{
    /* background: white; */
    color: orange;
    transform: scale(1.1);
    transform: translateY(-10px);
}
.bx-copyright{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media(max-width: 640px){
    footer{
        position: absolute;
        bottom: 0;
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        padding: 20px;
        height: auto;
        align-items: center;
    }
    .contact-us h2{
        margin-top: 15px;
    }
    .other-links h2{
        margin-top: 15px;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .links hr{
        display: none;
    }
    .copyright {
        text-align: center; /* Center text */
    }
    .logiimg{
        width: 100%;
    }
}