.home{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    height: 100vh;/* 
    margin-top: 3.7rem; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
}

