@font-face {
    font-family: 'slick';
    src: url('/fonts/slick.woff') format('woff'),
         url('/fonts/slick.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.carousel{
    max-width: 100%;
}

.carousel-container {
    position: relative;
}
.carousel-container img {
    width: 100%;
    max-height: 100vh;
    /* object-fit: cover; */
}
.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: rgba(0, 0, 0, 0.5); */
    /* padding: 20px; */
    color: white;
    text-align: center;
}
.carousel-overlay h2{
    color: #000;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.carousel-overlay h3{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
.carousel-overlay h4{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
.carousel-overlay button{
    margin-top: 10px;
    padding: 10px 20px;
    background: orange;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.carousel-overlay button:hover{
    transition: all 0.5s ease;
    background: orangered;
}

@media (max-width:640px){
    .carousel-container img {
        max-height: 80vh; /* Adjust the height for smaller screens */
      }
    .carousel-overlay{
        margin-top: 10px;
    }
    .carousel-overlay h2 {
        font-size: 18px; /* Adjust font size */
    }
    .carousel-overlay h3 {
        display: none; /* Adjust font size */
      }
    
    .carousel-overlay h4 {
        font-size: 14px; /* Adjust font size */
    }
    
    .carousel-overlay button {
        font-size: 13px; /* Adjust font size */
        padding: 10px;
    }
}